/* color-themes 

colorPrimary : #F8F199  tables background
colorPrimaryVariant : #FBF7C2  table-rows even
color PrimaryVarian2: #F5EC70 body
colorSecondary: #E0E0E0 buttons
colorSecondary2 #9F9F9F borders
*/



body{

	font-family: system-ui;
	font-size: small;
	font-weight: 500;
	margin: 5px 5px 5px 5px;
	/* background-color: #ffd9b3; */
	background-color: #F5EC70;

}
.headRow{
    font-weight: bold;
}

button{
	background-color: #E0E0E0;
	border: 1px;
	border-radius: 8px;
	border-style: solid;
	border-color: #9F9F9F;
	height: 3em;

}
table{
	border-collapse: collapse;
	width: 100%;
	margin-left:auto; 
    margin-right:auto;
    margin-top: 5px;
	margin-bottom: 5px;
	background-color: #F8F199;
}

td, th {
	border: 1px solid #9F9F9F;
	padding: 0.5rem;
	text-align: center;
  }


.tblResults tr:nth-child(even) {
	background-color: #FBF7C2;
}


@keyframes blinker {
		50% { opacity: 0.5;}
	  }


.tblStandings{
	margin-top: 20pt;
}
.tblStandings tr:nth-child(even){
	background-color: #FBF7C2;
	}


.navButtons{
		width: 3.0em;
	}

.red{
		color:red;
	}
.green{
		color:green;
	}
td.ten{
		width: 10%;
	}
td.twenty{
		width: 20%;
	}
td.fifty{
		width: 50%;
	}
td.sxty{
		width:60%;
	}

picture{
		display: none;
	}
a{
		pointer-events: none;
	}
