table{
    border: 1px solid; 
    border-collapse: collapse;
    border-color: black;
}

.cell{
    width:  37px;
    height: 37px;
    background-color: bisque;
    border-style: solid 2px;
    border-color: blue;
    border-radius: 50%;
    margin: 12px;

}
.stone{
    width:  36px;
    height: 36px;
    border-style: solid 2px;
    border-radius: 50%;
    margin: 6px;
    font-size: 18px;
    text-align: center;

}
.color1{
    background-color: red;
}
.color2{
    background-color: blue;
}
.mag{
    display: flex;
    flex-direction: row;
}
[draggable=true] {
    cursor: move;
  }
  [draggable=false] {
    cursor: not-allowed;
  }