body{
    background: coral;
    font-family: "Comic Sans MS";
    max-width: 400px;
    
}
.header{
    background-color: aqua;
}
.content{
    background-color: burlywood;
}
section{
    margin-top: 4px;
}
.cardCenter{
    padding: 4pt;
    font-size: 18pt;
    display: flex;
    justify-content: center;
}

button{
    margin: 2px;
    border: solid 1px;
    border-radius: 6px;

}
button.taste{
    font-size: large;
    min-width: 30px;
    padding:  4px;
    text-align: center;
}

button.operator{
    min-width: 35px;
    padding: 4pt;
    text-align: center;;
}
#aufgabe{
    background-color: aqua;
    min-height: 35px;
    min-width: 250px;
    /* border: solid 1px; */
    text-align: center;
}
#term1Feld{
    width: 50px;
}
#term2Feld{
    width: 50px;
}
#operatorFeld{
    width: 15px;
}
#ergebnisFeld{
    width: 50px;
}
#istgleichFeld{
    width: 15px;
} 
#emoji{
    width: 100px;
    height: 64px;
}
